html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin-left: 8rem;
  margin-right: 8rem;
}

h1 {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  font-size: 50px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  font-size: 25px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
}

.text {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
}

.tonedDownText {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  width: 290px;
}

.middleSection {
  display: flex;
}

.indexArt {
  width: 50%;
  display: flex;
  flex: row;
  justify-content: right;
  margin-top: -12rem;
}

.indexNav {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  font-size: 50px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  width: 50%;
}
.indexNav li {
  margin-bottom: 4rem;
}

.contactInfo {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  width: 50%;
}

.info {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  font-size: 15px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
}
.info a {
  color: #ffffff;
  margin-top: 0.5rem;
}

.indexHeader {
  display: flex;
  flex-direction: row;
}

.logo1 {
  width: 50%;
}

.logo2 {
  width: 50%;
  display: flex;
  justify-content: right;
}

.anchorNumber {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  font-size: 40px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 50px;
}

.anchorText {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 24px;
  margin-top: -2rem;
}

.navSection {
  display: flex;
  flex-direction: row;
}

.anchorMenu {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100%;
}

.anchorMenuItem {
  text-decoration: none;
  justify-content: right;
}

.anchorMenuItem:hover p {
  color: #ffffff;
}

.anchorMenuItem:active {
  color: #ffffff;
}

.servicePicContainer {
  width: 30%;
  justify-content: right;
}

.infoLine {
  display: flex;
  color: #9ac71b;
  flex-direction: row;
  font-size: 25px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 30px;
}

.serviceSections {
  margin-top: 10rem;
}

.furtherInfoBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.furtherInfoText {
  display: flex;
  color: #61812c;
  flex-direction: column;
  font-size: 15px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 18px;
}

.emailBtn {
  width: 154px;
  height: 49px;
  background-color: #61812c;
  display: flex;
  color: #ffffff;
  flex-direction: none;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serviceList {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
}
.serviceList li {
  margin-bottom: 1rem;
}

.serviceNav {
  position: fixed;
  right: 0;
  top: 20rem;
}
.serviceNav .anchorText {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  font-size: 10px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 12px;
}
.serviceNav .anchorNumber {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 2rem;
}

.sectionGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
}
.sectionGrid .sectionGridItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sectionGrid .gridNumber {
  display: flex;
  color: #9ac71b;
  flex-direction: row;
  font-size: 40px;
  font-family: Verdana;
  font-weight: 700;
  line-height: 49px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sectionGrid .gridText {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  font-size: 30px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 36px;
  margin-top: -2rem;
  justify-content: center;
}

/*workshop start*/
ul {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 30px;
}

.furtherInfoHeading {
  display: flex;
  color: #61812c;
  flex-direction: column;
  font-size: 40px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 49px;
  margin-top: -40px;
}

.workshopFlex {
  display: flex;
  width: 100%;
}

.quote {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Verdana";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.quote::before {
  content: open-quote;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
  display: inline;
}

.quote::after {
  content: close-quote;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
  display: inline;
}

span {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
}

/*workshop end*//*# sourceMappingURL=style.css.map */