$white: #ffffff;
$wTonedDown: rgba(#ffffff, 0.3);
$offWhite: #cfd7bf;
$lightGreen: #9ac71b;
$darkGreen: #61812c;
$fontStack: Verdana; //add more for best practice
$fontNormal: 400;
$fontBold: 700;
$standardFontSize: 40px;
$footerFontSize: 20px;

@mixin textBox($textcolor, $direction, $fontSize, $fontFam, $fontWeight, $lineHeight) {
  display: flex;
  color: $textcolor;
  flex-direction: $direction;
  font-size: $fontSize;
  font-family: $fontFam;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #070f00;
  margin-left: 8rem;
  margin-right: 8rem;
}
/*fonts desktop start*/
h1 {
  @include textBox($white, row, 50px, $fontStack, $fontNormal, 60px);
}

h2 {
  @include textBox($white, row, 25px, $fontStack, $fontNormal, 30px);
}
h3 {
  @include textBox($white, row, 40px, $fontStack, $fontBold, 48px);
}
h4 {
  @include textBox($white, row, 40px, $fontStack, $fontNormal, 48px);
}

.text {
  @include textBox($white, row, 20px, $fontStack, $fontNormal, 30px);
  display: inline-block;
}
.tonedDownText {
  @include textBox($wTonedDown, row, 20px, $fontStack, $fontNormal, 30px);
  border-bottom: 1px solid;
  border-color: $wTonedDown;
  width: 290px;
}
/*fonts desktop end*/
.introSection {
  width: 60%;
}



.middleSection {
  display: flex;
}

.indexArt {
  width: 50%;
  display: flex;
  flex: row;
  justify-content: right;
  margin-top: -12rem;
}

.indexNav {
  @include textBox($white, column, 50px, $fontStack, $fontNormal, 30px);
  list-style: none;
  width: 50%;
  li {
    margin-bottom: 4rem;
    display: inline-block;
    position: relative;
    ::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 0;
      height: 2px;
      background-color: $white;
      transition: width 0.5s ease-out;
    }
    :hover::before {
      width: 40%;
    }
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.info {
  @include textBox($white, column, 15px, $fontStack, $fontNormal, 30px);
  a {
    color: $white;
    margin-top: 0.5rem;
  }
}

.indexHeader {
  display: flex;
  flex-direction: row;
}

.logo1 {
  width: 50%;
}

.logo2 {
  width: 50%;
  display: flex;
  justify-content: right;
}

.anchorNumber {
  @include textBox($wTonedDown, row, 40px, $fontStack, $fontBold, 50px);
}

.anchorText {
  @include textBox($wTonedDown, row, 20px, $fontStack, $fontNormal, 24px);
  margin-top: -2rem;
}

.navSection {
  display: flex;
  flex-direction: row;
}

.anchorMenu {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100%;
}

.anchorMenuItem {
  text-decoration: none;
  justify-content: right;
}

.anchorMenuItem:hover {
  p {
    color: $white;
  }
}

.anchorMenuItem:active {
  color: $white;
}

.servicePicContainer {
  width: 30%;
  justify-content: right;
}

.infoLine {
  @include textBox($lightGreen, row, 20px, $fontStack, $fontBold, 30px);
}

.serviceSections {
  margin-top: 10rem;
  width: 80%;
}

.furtherInfoBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.furtherInfoText {
  @include textBox($darkGreen, column, 15px, $fontStack, $fontNormal, 18px);
}

.emailBtn {
  width: 154px;
  height: 49px;
  background-color: $darkGreen;
  @include textBox($white, none, 20px, $fontStack, $fontBold, 24px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serviceList {
  @include textBox($white, column, 20px, $fontStack, $fontNormal, 30px);
  width: 80%;
  li {
    margin-bottom: 1rem;
  }
}

.serviceNav {
  position: fixed;
  right: 0;
  top: 20rem;
  .anchorText {
    @include textBox($wTonedDown, row, 10px, $fontStack, $fontBold, 12px);
  }
  .anchorNumber {
    @include textBox($wTonedDown, row, 20px, $fontStack, $fontBold, 24px);
    margin-bottom: 2rem;
  }
}

.sectionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .sectionGridItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.gridNumber {
  @include textBox($lightGreen, row, 40px, $fontStack, $fontBold, 49px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gridText {
  @include textBox($white, row, 30px, $fontStack, $fontNormal, 36px);
  margin-top: -2rem;
  justify-content: center;
}
/*workshop start*/
ul {
  @include textBox($white, column, 20px, $fontStack, $fontNormal, 30px);
}
.furtherInfoHeading {
  @include textBox($darkGreen, column, 40px, $fontStack, $fontNormal, 49px);
  margin-top: -40px;
}
.workshopFlex {
  display: flex;
  width: 100%;
}
.quote {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Verdana";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
.quote::before {
  content: open-quote;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
  display: inline;
}
.quote::after {
  content: close-quote;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
  display: inline;
}
span {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: #61812c;
}
.testimonialSectionDesktop {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 780px;
}
/*workshop end*/
/*about us start*/

.previosProjectsTextFlex {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gain {
  margin-top: 1.4rem;
  padding-left: 10rem;
}
.whatWeDid {
  margin-top: -1rem;
}
hr {
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
footer {
  @include textBox(#cfd7bf, row, 20px, $fontStack, $fontNormal, 24px);
  display: flex;
  justify-content: space-between;
  width: 90%;
  p {
    margin: 2px;
  }
  svg {
    margin-top: 2rem;
  }
}
/*about us end*/
/*services  start*/
.hrMobile {
  width: 100%;
}
/*services  end*/
/*about us mediqquerries start*/
@media only screen and (min-width: 1024px) {
  .testimonialSectionMobile,
  details,
  summary {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .indexHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    @include textBox($white, row, 20px, $fontStack, $fontNormal, 24px);
  }
  .introSection {
    margin: 0%;
    width: 80%;
  }
  h2 {
    @include textBox($white, row, 15px, $fontStack, $fontNormal, 24px);
    width: 100%;
  }

  .text {
    @include textBox($white, row, 10px, $fontStack, $fontNormal, 12px);
  }
  .workshopFlex {
    display: block;
  }
  ul {
    @include textBox($white, column, 10px, $fontStack, $fontNormal, 12.5px);
  }
  .quote {
    width: 100%;
    font-size: 15px;
    line-height: 36px;
  }
  .quote::before {
    content: open-quote;
    font-size: 40px;
    line-height: 46px;
  }
  .quote::after {
    content: close-quote;
    font-size: 40px;
    line-height: 46px;
  }

  .furtherInfoHeading {
    @include textBox($darkGreen, column, 20px, $fontStack, $fontNormal, 24px);
    margin-top: 0px;
  }
  .testimonialSectionDesktop {
    display: none;
  }
  .testimonialSectionMobile {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sectionGrid {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridNumber {
    @include textBox($lightGreen, row, 15px, $fontStack, $fontBold, 18px);
  }

  .gridText {
    @include textBox($white, row, 10px, $fontStack, $fontNormal, 12px);
    margin-top: 0rem;
    width: 100px;
  }
  /*about us mediqquerries end*/
  /*about us mediaquerries start*/
  .previosProjectsTextFlex {
    display: block;
  }

  .gain {
    margin-top: 1.4rem;
    padding-left: 0rem;
    display: block;
    width: fit-content;
    margin: auto;
  }
  .gain > * {
    justify-content: center;
    text-align: center;
    width: 170px;
  }
  hr {
    display: none;
  }
  footer {
    display: none;
  }
  /*about us mediaquerries end*/
  /*services mediqquerries start*/
  .anchorMenu,
  .serviceNav,
  .serviceSections {
    display: none;
  }
  summary {
    display: grid;
    grid-template-columns: 11fr 1fr;
    justify-content: center;
    align-items: center;
    svg {
      width: 40px;
      height: 40px;
    }
  }

  /*services mediqquerries end*/
  /*index media querries*/

  .middleSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .indexNav {
      padding: 0%;
      width: 100%;
    }
    img {
      scale: 0.4;
      justify-content: center;
      margin-top: 0rem;
    }
  }
}
